* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #ff6464;
  --secondary-color: #21243d;
  --thirdh-color: #edf7fa;
  --fourth--color: #00a8cc;
  --fifth-color: #142850;
  --sixth-color: #8695a4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: auto;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 0;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav a {
  font-size: 1.2rem;
  color: var(--black-color);
  font-weight: 600;
}

nav a:focus {
  color: var(--primary-color);
}

nav a:hover {
  color: var(--primary-color);
}

nav .menu-bars {
  display: none;
}

main .container {
  width: 100%;
}

.head-blog {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  width: 80%;
  margin: auto;
  margin-top: 7rem;
}

.blog {
  width: 55%;
}

.head-blog .john {
  font-size: 2.8rem;
  color: var(--secondary-color);
  font-weight: 700;
  line-height: 3.3rem;
}

.head-blog .john-info {
  line-height: 1.5rem;
  font-size: 1.1rem;
  margin-top: 2rem;
}

.head-blog .download button {
  width: 13rem;
  height: 2.9375rem;
  margin-top: 2rem;
  font-size: 1.2rem;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: var(--white-color);
  cursor: pointer;
}

.head-blog .john-img img {
  border-radius: 50%;
  width: 130%;
  height: 95%;
  z-index: 1;
  position: relative;
}

.head-blog .circle-img img {
  width: 130%;
  height: 80%;
  z-index: -1;
  position: relative;
  top: 17%;
  right: 140%;
}

.head-recent {
  margin-top: 6rem;
  background-color: var(--thirdh-color);
}

.head-recent .recent {
  width: 80%;
  margin: auto;
  padding: 2rem 0;
}

.head-recent .posts {
  display: flex;
  justify-content: space-between;
}

.head-recent .posts .head-post {
  font-size: 1.5rem;
}

.head-recent .posts .post a {
  color: var(--fourth--color);
}

.head-recent .head-box {
  display: flex;
  margin-top: 1rem;
  gap: 1.5rem;
}

.head-recent .box {
  background-color: var(--white-color);
  padding: 1rem 2rem 1rem 0.8rem;
}

.head-recent .box-head {
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 2rem;
  color: var(--secondary--color);
}

.head-recent .box-body {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  font-size: 1.3rem;
}

.head-recent .box-footer {
  line-height: 1.5rem;
  font-size: 1.1rem;
  margin-top: 2rem;
}

.head-featured .featured {
  width: 80%;
  margin: auto;
}

.head-featured .featured-works {
  margin-top: 2rem;
}

.head-featured .featured-works div {
  font-size: 1.5rem;
}

.head-featured .head-works {
  display: flex;
  gap: 10.5rem;
  margin-top: 2rem;
}

.head-featured .works-img {
  width: 40%;
}

.head-featured .works-img img {
  width: 180%;
  height: 100%;
  border-radius: 5%;
}

.head-featured .works-head a {
  font-size: 2.5rem;
  color: var(--secondary-color);
  font-weight: 700;
}

.head-featured .works-body {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 2rem;
}

.head-featured .works-year {
  background-color: var(--fifth-color);
  color: var(--white-color);
  border-radius: 40%;
  width: 3.875rem;
  height: 1.5625rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
}

.head-featured .works-dashboard {
  font-size: 1.2rem;
  color: var(--sixth-color);
}

.head-featured .works-footer {
  margin-top: 2rem;
  line-height: 1.5rem;
  font-size: 1.1rem;
}

hr {
  margin-top: 2rem;
}

footer .footer {
  height: 10%;
  margin-top: 5%;
}

footer .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

footer .icons div a {
  font-size: 2.5rem;
  color: var(--black-color);
}

footer .copyright {
  text-align: center;
  margin: 1rem 0 5% 0;
  font-size: 0.9rem;
}

/** Phone Screen */

@media only screen and (max-width: 425px) {
  nav {
    width: 100%;
  }

  nav .menu-bars {
    display: block;
  }

  .head-blog {
    flex-direction: column-reverse;
    margin-top: -22rem;
  }

  .head-blog .john-img img,
  .head-blog .circle-img img {
    width: 100%;
  }

  .blog {
    width: 95%;
    margin: auto;
    text-align: center;
  }

  .head-recent .recent {
    width: 100%;
  }

  .head-recent .posts {
    justify-content: center;
  }

  nav ul,
  .head-recent .post,
  .head-featured .p-design {
    display: none;
  }

  .head-recent .head-box,
  .head-featured .head-works {
    flex-direction: column;
  }

  .head-recent .box,
  .head-featured .featured {
    width: 95%;
    margin: auto;
  }

  .head-featured .featured-works {
    text-align: center;
  }

  .head-featured .works {
    width: 95%;
    margin-top: -8rem;
  }

  .head-featured .works-head a {
    font-size: 2rem;
  }

  .head-featured .works-img img {
    width: 250%;
  }

  .footer {
    padding: 4rem 0;
  }
}
